<h2>My Cart</h2>
<div>
	<% if @line_items != nil %>
	<% @line_items.each do |line_item| %>
	<p><%=line_item.product.name %></p>
	<p><%= number_to_currency line_item.line_item_total %></p>
	<p>Qty: <%= line_item.quantity %></p>
	<p>Subtotal: <%=number_to_currency line_item.line_item_total %></p>
	<p><%= link_to "Delete", delete_path(line_item.product.id), class: "btn btn-danger" %></p>
	<% end -%>
	<% end -%>
</div>

<div>
	<%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success"%>
</div>